/* Container styles */
.form-container {
  align-items: center;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(255, 156, 250, 0.5);
  background-color: #e5eaff37;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 8px;
}
.form-container form {
  width: 100%;
}
.form-container-1,
.form-container-2 {
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
    flex: 1; /* Each div will take equal space */
    padding: 10px; /* Add padding for spacing */
    box-sizing: border-box; /* Include padding in width calculation */
}

/* Button container */
.button-container {
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
  margin-top: 20px;
}

.button-container button {
  margin-left: 10px; /* Add spacing between buttons */
}

/* Add button style */
.Addbtn {
  background-color: #5bd25f;
  color: white;
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer; 
}

/* Cancel button style */
.Cancelbtn {
  background-color: #f44336;
  color: white;
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
}

.Updatebtn{
  background-color: #1f70fc;
  color: white;
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
}

/* Button hover effect */
button:hover {
  opacity: 0.8;
}

/* Additional styling for labels and inputs */
.form-container label {
  padding-right: 15px;
  padding-left: 10px;
}

.form-container input {
  width: auto;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Adjust input widths as needed */
.form-container-1 input[type="text"],
.form-container-1 input[type="number"],
.form-container-1 input[type="number"],
.form-container-2 input[type="text"],
.form-container-2 input[type="date"],
.form-container-2 input[type="file"] {
  width: calc(100% - 20px); /* Subtract padding and borders */
}
