.addButton {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: #007C42;
    color: white;
    border-radius: 45px;
    padding: 8px 16px; /* Adjust padding to make the button smaller */
    border: 4px solid transparent;
    transition: all 0.3s ease; /* Add transition for smooth animation */
    font-size: medium; /* Adjust font size */
}

.addButton:hover {
    border-color: rgb(255, 255, 255); /* Change border color to red on hover */
    background-color: #005738; /* Darken the background color on hover */
    transform: translate(-50%, -50%) scale(0.95); /* Scale down the button on hover */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Add box shadow on hover */
}

.submitButton {
    width: 30%;
    height: 50px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 15px;
    text-align: center;
    margin-right: 15%;
    margin-left: 2%;
    background-color: #616161bc;
    border: 2px solid #00ff88;
    grid-column: span 2;
    transition: transform 0.5s ease; /* Add transition for scaling effect */
}

.submitButton:hover {
    transform: scale(1.05);
    color: #00ff88;
    border: 2px solid white; /* Scale up the button on hover */
}

.deleteIcon{
    width: 22px;
    height: 22px;
}

.updateButton{
    /* position: relative; */
    width: 30%;
    height: 50px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 15px;
    text-align: center;
    margin-top: 2%;
    margin-left: 4%;
    background-color: #616161bc;
    border-color: rgba(255, 255, 255, 0.256);
    grid-column: span 2;
    border: 2px solid #3054f5; /* Ensure there's a border initially */
    transition: transform 0.5s ease; 
}

.updateButton:hover {
    transform: scale(1.05);
    color: #3054f5;
    border: 2px solid white; /* Change border color to green on hover */
}

.cancelButton{
        width: 30%;
        height: 50px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        border-radius: 15px;
        text-align: center;
        margin-top: 2%;
        margin-left: -11%;
        background-color: #616161bc;
        border-color: rgba(255, 255, 255, 0.256);
        grid-column: span 2;
        border: 2px solid #f53030; /* Ensure there's a border initially */
        transition: transform 0.5s ease; 
}

.cancelButton:hover {
    transform: scale(1.05);
    color: #f53030;
    border: 2px solid white; /* Change border color to green on hover */
}

.formContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #61616198; /* Fallback color for browsers that don't support backdrop-filter */
    backdrop-filter: blur(3px); /* Apply blur effect to the background */
    z-index: 2;
    padding: 20px;
    border-radius: 25px;
    width: 95%;
    height: 90%;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Two columns with equal width */
    gap: 20px; /* Spacing between grid items */
    margin-bottom: 5px;
}

.gridContainer > div {
    grid-column: span 1; /* Each grid item spans one column */
    margin-left: 5%;
}

.inputLabel {
    /* display: block; */
    font-weight: bold;
    color:white;
}

.bgimg{
    width: 99%;
    height:auto;
    border-radius: 10px;
    margin-left: 5px;
}

.inputstyle {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #ccc; /* Default border color */
    padding: 8px; /* Example padding, adjust as needed */
    transition: border 0.3s ease; /* Smooth transition for border color change */
}

.inputstyle:hover,
.inputstyle:focus {
    border: 2px solid green; /* Change border to green on hover/focus */
    outline: none; /* Remove the default focus outline */
}

.inputLabel {
    display: flex;
    margin-bottom: 5px;
    font-weight: bold;
}

.inputstyle, .inputstyle[type="file"] {
    width: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #ccc; /* Example border styling */
    padding: 8px; /* Padding for text and number inputs; might not apply to file input */
    display: block; /* Ensure elements are block-level for consistent layout */ 
}

.inputstyle[type="file"]::file-selector-button {
    border-radius: 10px;
    padding: 5px 8px;
    border: 1px solid #ccc;
    background-color: #f0f0f0; /* Example styling; adjust as needed */
    margin-right: 10px; /* Space between the button and file name */
}


.inputLabel, .inputstyle, .inputstyle[type="file"], textarea.inputstyle {
    width: 100%; /* Ensures input fills the container div */
}

.services-list {
    margin-top: 45px;
    margin-left: 5px;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    justify-content: center; /* Start from left */
    gap: 50px; /* Space between items */
    width: 99%;
    
}

.service-list-style > p {
    text-align: center;
    position: relative;
    margin-bottom: 10px;
    color: black;
    z-index: 1;
}
.service-list-style > h5 {
    text-align: center;
    position: relative;
    color: black;
    margin-bottom: 20px;
    z-index: 1;
}

.service-list-style {
    position: relative; 
    border-radius: 20px;
    border: 1px solid burlywood;
    width: 150px;
    height: 220px;
    text-align: center;
    box-shadow: 5px 5px 10px 2px rgba(120, 144, 231, 0.24);
    transition: all 0.5s ease; /* Add transition effect */
    background: linear-gradient(45deg, #ff9eec, #81f9f1); /* Add gradient background */
    overflow: clip; /* Hide overflow for blur effect */
}

.service-list-style::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: inherit;
    filter: blur(10px);
}

.service-list-style:hover {
    transform: scale(1.05); /* Scale up on hover */
    box-shadow: 8px 8px 16px 4px rgba(86, 115, 221, 0.3); /* Modify box-shadow on hover */
}

.deleteButton{
    position: absolute;
    bottom: 5px; /* Adjust bottom spacing as needed */
    left: 50%;
    transform: translateX(-50%);
    border-radius: 25px;
    text-align: center;
    width: 100px;
    background-color: white;
    color: #cc0000;
    border-color: transparent;
    cursor: pointer;
    transition: background-color 0.5s ease;
    padding: 5px 10px;
    border: 0.5px solid burlywood;
}

.editButton{
    position: relative;
    bottom: 5px; /* Adjust bottom spacing as needed */
    left: 35%;
    transform: translateX(-50%);
    border-radius: 25px;
    text-align: center;
    width: 100px;
    background-color: white;
    color: #cc0000;
    border-color: transparent;
    cursor: pointer;
    transition: background-color 0.5s ease;
    padding: 5px 10px;
    border: 0.5px solid burlywood;
}

.deleteButton:hover {
    background-color: #ff3030;
    color: #ffffff; /* Darken the color on hover */
}

.deleteIcon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
}

.editIcon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
}

