.services-container {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    background: rgba(209, 209, 209, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    transition: max-height 0.4s ease;
    overflow: hidden;
    padding-top: 10px;
    background-color: white;
    border-radius: 10px;
}

.service-icon {
    width: 120px;
    height: 120px;
    background-color: #ffffffbc;
    border-radius: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #cc00ff;
    font-size: 20px;
    padding: 5px;
    margin-left: 4px;
    margin-bottom: 20px;
    font-size: medium;
    font-weight: bold;
    animation: colorAnimation 4s alternate; 
}

@keyframes colorAnimation {
    0% {
        background: linear-gradient(45deg, #fa69e2, #3498db); 
        color: #ffb134; 
        transform: scale(1);
    }
    50% {
        background: linear-gradient(45deg, #9b59b6, #7fbfff); 
        color: #ecf0f1; 
        transform: scale(1.1);
    }
    100% {
        background: linear-gradient(45deg, #61ffdf, #fcf2f2); 
        color: #ffb134; 
        transform: scale(1);
    }
}


.service-icon:hover {
    animation: none; /* Disable animation on hover */
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(241, 150, 255, 0.863);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}


.service-list::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: #266ecd; */
    border-radius: 60px;
    filter: blur(5px); /* Apply a blur effect to the background */
    z-index: -1; /* Ensure the pseudo-element is behind the text */
}

.toggle-button {
    cursor: pointer;
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
}

h2{
    padding-right: 25px;
}
