.services-table-container {
    max-height: 332px; /* Height for 4 rows */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Hide horizontal scrolling */
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    width: 90%;
}

.services-table thead {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #197fe4;
    animation: fadeIn 0.5s ease-in-out;
}

.services-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.services-table td:first-child {
    border-left: 2px solid #e9ecef;
    border-radius: 8px 0 0 8px;
}

.services-table td:last-child {
    border-right: 2px solid #e9ecef;
    border-radius: 0 8px 8px 0;
}

.service-price {
    color: #28a745;
    font-weight: bold;
    font-size: 1.1em;
}

.toggle-services-button {
    margin-bottom: 10px;
    padding: 12px 24px;
    font-size: 1.2em;
    background-color: #0d00ff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.4s, transform 0.4s;
    width: 1000px;
}

.toggle-services-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.services-table td, .services-table th {
    padding: 7px 10px;
    text-align: left;
    background-color: #fff;
    border-left: 2px solid #e9ecef;
    border-right: 2px solid #e9ecef;
    border-bottom: 2px solid #e9ecef;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.services-table tr:hover td {
    background-color: #f1f1f1;
    transform: scale(1.02);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.services-table td:first-child {
    border-left: 2px solid #e9ecef;
    border-radius: 8px 0 0 8px;
}

.services-table td:last-child {
    border-right: 2px solid #e9ecef;
    border-radius: 0 8px 8px 0;
}
