

.containers {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    border-radius: 10px;
    width: auto;
    margin-bottom: 20px;
    padding-top: 70px;
    
  
  }
  
  .card-body {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    border: 1px solid black;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    
  }
  
  .form-label {
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group.mb-2 {
    margin-bottom: 10px;
  }
  
  .namefield {
    display: flex;
    justify-content: space-between;
  }
  
  .text-danger {
    color: #dc3545;
    font-size: 12px;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  /* Responsive Styles */
  
  @media (max-width: 480px) {
    .card-body {
      width: 90%;
    }
  }
  
  /* const calculateAgeFromNIC = (nic) => {
    const year = parseInt(nic.substring(0, 4), 10); 

    const today = new Date();
    let age = today.getFullYear() - year; 

    return age;
}; */