.containers {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    margin: 0;
    background-color: #F6F6F8;
    height: 500px;
    /* Adjust border properties */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    border-radius: 5px; /* Corrected typo from '5cap' to '5px' */
}

.card {
    background-color: white;
}

.button {
    background-color: #484241;
    border: aliceblue;
}

.namefield {
    display: flex;
    justify-content: space-between;
}

.h {
    color: blueviolet;
}

.rows {
    align-items: center;
}
